:root {
  --font-inter: 'Inter', sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul li {
  list-style: none;
}

body {
  background-image: url(./img/1.jpg);
  background-position: top center;
  background-size: 100% auto;
  background-repeat: no-repeat;
  background-color: hsl(240, 5%, 7%);
}

body * {
  font-family: var(--font-inter);
  line-height: 160%;
}

main {
  margin: auto;
  margin-top: 24px;
  max-width: 580px;
  width: 90%;
  display: flex;
  flex-direction: column;
  gap: 24px;
}

header div {
  display: flex;
  justify-content: center;
  padding: 24px;
  background-color: antiquewhite;
  transition: transform 0.3s;
}

header div:hover {
  transform: scale(1.1);
}

.perfil {
  margin: 32px auto;
  background-image: linear-gradient(
    110deg,
    rgb(102, 255, 0) 10%,
    rgb(255, 115, 0) 50%,
    rgb(255, 2, 69) 90%
  );
  border-radius: 50%;
  padding: 2.5px;
  width: 120px;
}

.perfil img {
  width: 100%;
  border-radius: 50%;

  /*linear-gradient(110deg, rgb(102, 255, 0) 10%, rgb(255, 115, 0) 50%, rgb(255, 2, 69) 90%); */
}

section {
  color: hsl(0, 0%, 100%);
  background-image: linear-gradient(
    110deg,
    rgb(102, 255, 0) 10%,
    rgb(255, 115, 0) 50%,
    rgb(255, 2, 69) 90%
  );
  padding-top: 3px;
  border-radius: 10.5px;
}

section div {
  background-color: #2a2634;
  border-radius: 8px;
  padding: 32px;
  padding: 24px;
}

section h2 {
  letter-spacing: -0.47px;
}

section p {
  color: #a1a1aa;
  margin: 5px 0 24px 0;
}

.games-list,
.channel-list,
.social-list {
  display: flex;
  gap: 16px;
  flex-wrap: wrap;
  margin-top: 24px;
  margin: auto;
}

.games-list img {
  width: 85px;
  border-radius: 8px;
}

.games-list li {
  transition: transform 0.1s;
}

.games-list li:hover {
  transform: scale(1.1);
}

.channel-list img {
  border-radius: 50%;
  border: 1px solid hsl(0, 0%, 30%);
}

.channel-list li {
  transition: transform 0.1s;
}

.channel-list li:hover {
  transform: scale(1.1);
}


/* animações */

header div{
  animation: fromTop .3s;
}

section div:nth-child(1){}
section div:nth-child(2){}
section div:nth-child(3){}


@keyframes fromTop {
  /* fromTop foi o nome escolhido para a animação */
  from {
    transform: translateY(-40px);
  }

  to {
    transform: translateY(0);
  }
}
